<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Basebaii Make</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <header>
  <div class="container">
    <div class="header-title-area">
      <h1 class="logo">Baseball Make</h1>
      
    </div>
    
</ul>
  </div>
</header>
  </body>
</html>
