.col-sm-3{
    width: 200px;
	height: 100px;
}
.col-sm-9{
    width: 250px;
	height: 100px;
}
.top-box{
  position: absolute;
    width: 200px;
      height: 100px;
     left:50px;
.navbar-brand0{
  position: absolute;
    width: 200px;
      height: 100px;
     left:0px;
}
.navbar-brand{
  
  position: absolute;
    width: 200px;
      height: 100px;
    left:0px;
  }
.game-index-single{
  background:#ddd; border: 1px #ff0000 solid; padding:15px;
}
}